html{
	background-color: grey;
}
#ballcircle{
	transform-origin: 50% 50%;
	transform: rotate(30deg);
	transition: transform 50ms, opacity 50ms;
}

#viz{
	height: 86vh;
	min-width: 50vw;
	width: 50vw;
	margin-left: 25vw;
}
#bar{
	/*background-color: lightgrey;*/
	height: 14vh;
	width: 50vw;
	margin-left: 25vw;
}

.pie{
	position: absolute;
	top: 0;
	height: 90vh;
	min-width: 50vw;
}
#progress{
	transform-origin: 50% 50%;
	transition: transform 100ms;
	transition-timing-function: ease-out;
	transform: scale(0);
}

/*.scale-full-1{
	stop-color:red;
	fill:red;
}
.scale-full-2{
	stop-color:orange;
	fill:orange;
}
.scale-full-3{
	stop-color:yellow;
	fill:yellow;
}
.scale-full-4{
	stop-color:green;
	fill:green;
}
.scale-full-5{
	stop-color:blue;
	fill:blue;
}
.scale-full-6{
	stop-color:purple;
	fill:purple;
}
.scale-full-7{
	stop-color:pink;
	fill:pink;
}*/
.transparent{
	fill-opacity:0;
	transition: fill-opacity 3000ms;
}
.notTransparent{
	fill-opacity:1;
}