body{
	padding: 0;
	margin: 0;
}
html{
	background-color: grey;
}
#container{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;

}
#left{
	/*background-color: lightgrey;*/
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 40vw;
	height: 100vh;
}
#middle{
	flex-grow: 2;
	flex-shrink: 2;
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	align-items: center;
	/*background-color: darkgrey;*/
}
#ballcircle{
	transform-origin: 50% 50%;
	transform: rotate(30deg);
	transition: transform 50ms, opacity 50ms;
}
#viz{
	/*height: 86vh;
	width: 45vw;*/
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#bar{
	/*background-color: lightgrey;*/
	/*height: 14vh;
	width: 45vw;*/
	/*transform: rotate(270deg);*/
	/*height: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.pie{
	/*position: absolute;
	top: 0;
	height: 90vh;
	min-width: 50vw;*/
}
#progress{
	transform-origin: 50% 50%;
	transition: transform 100ms;
	transition-timing-function: ease-out;
	transform: scale(0);
}

#menu{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.menuDot{
	border-radius: 50%;
	max-width: 56px;
	max-height: 56px;
	width: 2vw;
	height: 2vw;
	box-sizing: border-box;
	border: 2px solid black;
	margin: .5vw;
	flex: 0 0 auto;
}
.menuSection{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#survey{
	max-width: 56px;
	max-height: 56px;
	width: 2vw;
	height: 2vw;
	box-sizing: border-box;
	border: 2px solid black;
	margin: .5vw;
	flex: 0 0 auto;
	background-color: hsl(0,100%,50%);
}
#consent{
	max-width: 56px;
	max-height: 56px;
	width: 2vw;
	height: 2vw;
	box-sizing: border-box;
	border: 2px solid black;
	margin: .5vw;
	flex: 0 0 auto;
	background-color: hsl(0,100%,50%);
}
#stats{
	max-width: 56px;
	max-height: 56px;
	width: 2vw;
	height: 2vw;
	box-sizing: border-box;
	border: 2px solid black;
	margin: .5vw;
	flex: 0 0 auto;
	background-color: hsl(0,100%,50%);
}
.spacer{
	max-width: 28px;
	max-height: 28px;
	width: 1vw;
	height: 1vw;
}
.clickable{
	cursor: pointer;
}


/*.scale-full-1{
	stop-color:red;
	fill:red;
}
.scale-full-2{
	stop-color:orange;
	fill:orange;
}
.scale-full-3{
	stop-color:yellow;
	fill:yellow;
}
.scale-full-4{
	stop-color:green;
	fill:green;
}
.scale-full-5{
	stop-color:blue;
	fill:blue;
}
.scale-full-6{
	stop-color:purple;
	fill:purple;
}
.scale-full-7{
	stop-color:pink;
	fill:pink;
}*/
.transparent{
	fill-opacity:0;
	transition: fill-opacity 3000ms;
}
.notTransparent{
	fill-opacity:1;
}