#ballcircle{
	transform-origin: 50% 50%;
	transform: rotate(30deg);
	transition: transform 50ms, opacity 50ms;
}

#viz{
	height: 90vh;
	min-width: 50vw;
	width: 50vw;
	margin-left: 25vw;
}

.pie{
	position: absolute;
	top: 0;
	height: 90vh;
	min-width: 50vw;
}

.scale-full-1{
	stop-color:red;
}
.scale-full-2{
	stop-color:orange;
}
.scale-full-3{
	stop-color:yellow;
}
.scale-full-4{
	stop-color:green;
}
.scale-full-5{
	stop-color:blue;
}
.scale-full-6{
	stop-color:purple;
}
.scale-full-7{
	stop-color:pink;
}